<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/styleWeb.css")
    @Scripts.Render("~/Content/responsiveslides.min.js")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=es"></script>

    @Scripts.Render("~/Content/map.js")
    <style>
      html, body{
        width: 100%;
        height: 100%;
    }
     #map{
        width: 50%;
        height: 50%;

     }
    </style>


    

   
</head>
<body>
 

        <div class="wrap">
            <!---start-top-header---->
            <div class="top-header">
                <div class="top-header-left">
                    <p>travel Agency</p>
                    <p>COMPANY</p>
                </div>
                <div class="top-header-right">
                    <div class="top-header-contact-info">
                        <p>GET FREE CONSULTATION:</p>
                        <span>1 800 123 1234</span>
                    </div>
                    <div class="top-header-contact-account">
                        <div class="sub-about-grid-social">
                            <ul>
                                <li><a href="#"><img src="images/facebook.png" title="facebook"></a></li>
                                <li><a href="#"><img src="images/twitter.png" title="Twiiter"></a></li>
                                <li><a href="#"><img src="images/rss.png" title="Rss"></a></li>
                                <li><a href="#"><img src="images/gpluse.png" title="Google+"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="clear"> </div>
            </div>
        
        <div class="main-header">
            <div class="logo">
                <a href="index.html"><img src="images/logo1.png" title="logo" /></a>
            </div>
            <div class="top-nav">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">Comentario</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    
                </ul>
            </div>
            <div class="clear"> </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="wrap">

        <div class="image-slider">
            <!-- Slideshow 1 -->
            <ul class="rslides" id="slider1">
                <li><img src="images/slider1.jpg" alt=""></li>
                <li><img src="images/slider2.jpg" alt=""></li>
                <li><img src="images/slider1.jpg" alt=""></li>
            </ul>
            <!-- Slideshow 2 -->
        </div>
        <!--End-image-slider---->
    </div>
   
    <div class="content">
        <div class="wrap">
           
            <div class="content-grids">
                <div class="grid">
                    <h3 class="frist">FIND AN CAR</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="grid">
                    <h3 class="second">CHALLENGE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="grid">
                    <h3 class="last">FIND AN CAR</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="grid last-grid">
                    <h3 class="second">CHALLENGE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <div class="content-boxs">
                <div class="box">
                    <h3>WE HAVE THE TOOLS & RESOURCES YOU NEED</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</span>
                    <a href="#">Read More</a>
                </div>
                <div class="box1">
                    <h3>FOR INDIVIDUALS</h3>
                    <a href="#"><img src="images/img1.jpg" title="image-name" /></a>
                    <ul>
                        <li><a href="#">Lorem ipsum amet</a></li>
                        <li><a href="#">consectetur adipisicing</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                        <li><a href="#">tempor incididunt ut</a></li>
                        <li><a href="#">adipisicing elit</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                    </ul>
                    <a class="button" href="#">Read More</a>
                </div>
                <div class="box1">
                    <h3>TRAVEL BUSINESS</h3>
                    <a href="#"><img src="images/img2.jpg" title="image-name" /></a>
                    <ul>
                        <li><a href="#">Lorem ipsum amet</a></li>
                        <li><a href="#">consectetur adipisicing</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                        <li><a href="#">tempor incididunt ut</a></li>
                        <li><a href="#">adipisicing elit</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                    </ul>
                    <a class="button" href="#">Read More</a>
                </div>
                <div class="box1 last-box1">
                    <h3>SPECIAL CABS</h3>
                    <a href="#"><img src="images/img1.jpg" title="image-name" /></a>
                    <ul>
                        <li><a href="#">Lorem ipsum amet</a></li>
                        <li><a href="#">consectetur adipisicing</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                        <li><a href="#">tempor incididunt ut</a></li>
                        <li><a href="#">adipisicing elit</a></li>
                        <li><a href="#"> sed do eiusmod</a></li>
                    </ul>
                    <a class="button" href="#">Read More</a>
                </div>
                <div class="clear"> </div>
            </div>

            <div class="footer-grids">
                <div class="footer-grid1">
                    <a href="#"><img src="images/logo2.png" title="logo"></a>
                    <p>Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                    <div class="clear"> </div>
                </div>
                <div class="footer-grid2">
                    <ul>
                        <li><a href="#">CUSTOMER SUPPORT</a></li>
                        <li><a href="#">PLATINUM SUPPORT</a></li>
                        <li><a href="#">GOLD SUPPORT</a></li>
                        <li><a href="#">STANDARD SUPPORT</a></li>
                        <li><a href="#">TRAINING</a></li>
                    </ul>
                </div>
                <div class="footer-grid2">
                    <ul>
                        <li><a href="#">CUSTOMER SUPPORT</a></li>
                        <li><a href="#">PLATINUM SUPPORT</a></li>
                        <li><a href="#">GOLD SUPPORT</a></li>
                        <li><a href="#">STANDARD SUPPORT</a></li>
                        <li><a href="#">TRAINING</a></li>
                    </ul>
                </div>
                <div class="footer-grid2">
                    <ul>
                        <li><a href="#">CUSTOMER SUPPORT</a></li>
                        <li><a href="#">PLATINUM SUPPORT</a></li>
                        <li><a href="#">GOLD SUPPORT</a></li>
                        <li><a href="#">STANDARD SUPPORT</a></li>
                        <li><a href="#">TRAINING</a></li>
                    </ul>
                </div>
                <div class="footer-grid2 last-footer-grid">
                    <span>Lorem ipsum dolor sit amet,</span>
                    <span>sed do eiusmod,</span>
                    <span>dolor sit amet,</span>
                    <label>1 800 123 1234</label>
                    <h4>Email :<a href="#"> example@email.com</a></h4>
                </div>
                <div class="clear"> </div>
            </div>

        </div>
    </div>
   

    <div id="body">
        <div id="map" style="width:500px;height:380px;"></div>
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
