@model GoTaxiV2.Models.cotizacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>cotizacion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idCotizacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCotizacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Origen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Origen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Destino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Destino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.transporte.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.transporte.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valor)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
