@model GoTaxiV2.Models.queja

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>queja</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idQueja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idQueja)
            @Html.ValidationMessageFor(model => model.idQueja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idUusuario, "usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idUusuario", String.Empty)
            @Html.ValidationMessageFor(model => model.idUusuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idConductor, "conductor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idConductor", String.Empty)
            @Html.ValidationMessageFor(model => model.idConductor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.comentario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.comentario)
            @Html.ValidationMessageFor(model => model.comentario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
